%p#notice= notice

%p
  %b Name:
  = @order.name
%p
  %b Phone:
  = @order.phone
%p
  %b Email:
  = @order.email
%p
  %b Variant:
  = @order.variant
%p
  %b Eco:
  = @order.eco
%p
  %b Get key:
  = @order.get_key
%p
  %b Description:
  = @order.description
%p
  %b Deleted at:
  = @order.deleted_at

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
