.calculateInfoSpace
  %h1 Что входит в уборку
  %ul
    %li.fast
      %h2 Быстрая уборка
      #content__calculate__calculate__1__col1.adminTextEl
        %p
          %strong> Комнаты и коридор:
          \- Заправим кровать в спальне
          %br/
          \- Пропылесосим полы
          %br/
          \- Помоем полы
          %br/
          \- Протрем плинтуса
          %br/
          \- Протрем пыль со всех доступных мест
          %br/
          \- Помоем и протрем подоконники
          %br/
          \- Помоем зеркала и другие стеклянные поверхности (кроме окон)
          %br/
          \- Аккуратно сложим вещи
          %br/
          \- Протрем светильники (кроме люстр)
          %br/
          = succeed "-" do
            %strong Ванная комната:
          Почистим и продезинфицируем сантехнику,
          %br/
          \- Помоем ванную или душевую кабину, унитаз, раковину
          %br/
          \- Почистим фурнитуру и краны
          %br/
          \- Помоем и продезинфицируем пол
          %br/
          \- Отмоем зеркала до блеска
          %br/
          \- Протрем светильники (кроме люстр)
          %br/
          = succeed "-" do
            %strong Кухня:
          Помоем грязную посуду
          %br/
          \- Помоем и обезжирим кухонную плиту снаружи
          %br/
          \- Пропылесосим и помоем пол кухни
          %br/
          \- Протрем холодильник и духовой шкаф снаружи
          %br/
          \- Протрем столешницы
          %br/
          \- Протрем от пыли всю кухонную технику
          %br/
          \- Протрем все зеркальные и стеклянные поверхности
          %br/
          \- Протрем светильники (кроме люстр)
          %br/
          \- Выкенем мусор и заменим пакеты в корзинах
        %h3 Дополнительно - Эко уборка:
        %p.eco Используем только экологически безопасные чистящие средства &nbsp;
    %li.general
      %h2 Генеральная уборка
      #content__calculate__calculate__1__col2.adminTextEl
        %p
          %strong> Комнаты и коридор:
          \- Пропылесосим полы и плинтуса
          %br/
          \- Пропылесосим мебель
          %br/
          \- Пропылесосим стены от пыли
          %br/
          \- Помоем полы во всех доступных местах
          %br/
          \- Помоем плинтуса
          %br/
          \- Отодвинем легкую мебель и убирем за ней (легкая мебель, - стулья и столы, весом не более 10 кг)
          %br/
          \- Протрем от грязи и пыли всю мебель
          %br/
          \- Помоем и протрем светильники (кроме люстр)
          %br/
          \- Отмоем подоконники
          %br/
          \- Протрем радиаторы и трубы отопления
          %br/
          \- Протрем дверные проемы и фурнитуру
          %br/
          \- Помоем и протрем межкомнатные двери
          %br/
          \- Помоем зеркала и стеклянные поверхности
          %br/
          \- Протрем столы, стулья, фурнитуру кресел и мебели
          %br/
          \- Удалим пыль с предметов интерьера (вазы, рамы картины и пр.)
          %br/
          \- Протрем поверхности внутри пустых шкафов и другой незагруженной мебели (личные вещи не трогаем, если необходимо там убраться, то уберите вещи заранее)
          %br/
          \- Протрем всю аудио-видео технику от пыли
          %br/
          \- Уберем на полу мусор
          %br/
          \- Протрем пустые полки
          %br/
          \- Заправим кровать
          %br/
          \- Разложим разбросанные вещи в аккуратные стопки
          %br/
          \- В коридоре расставим обувь
          %br/
          = succeed "-" do
            %strong Ванная комната:
          Почистим и продезинфицируем сантехнику,
          %br/
          \- Вымоем ванную или душевую кабину, унитаз, раковину
          %br/
          \- Почистим фурнитуру и краны
          %br/
          \- Помоем и продезинфицируем пол
          %br/
          \- Отмоем зеркала до блеска
          %br/
          \- Протрем светильники
          %br/
          \- Помоем плитку и стены от пола до потолка
          %br/
          \- Отмоем внутренние поверхности шкафчиков и полочек
          %br/
          \- Удалим налет и водный камень с сантехники
          %br/
          \- Аккуратно расставим тюбики, по вашем желанию
          %br/
          = succeed "-" do
            %strong Кухня:
          Помоем грязную посуду
          %br/
          \- Помоем и обезжирим кухонную плиту снаружи
          %br/
          \- Протрем холодильник и духовой шкаф снаружи
          %br/
          \- Помоем и протрем стены от пола до потолка (если кафель, то помоем, если обои, то протрем)
          %br/
          \- Разложим вещи в шкафчики (по согласованию с клиентом)
          %br/
          \- Протрем кухонные
          %br/
          \- Протрем от пыли всю кухонную технику
          %br/
          \- Удалим жировые отложения со стен кухонного гарнитура
          %br/
          \- Удалим жир с доступных мест плитки
          %br/
          \- Протрем все зеркальные и стеклянные поверхности
          %br/
          \- Уберем пыль и грязь внутри шкафов, при условии что они пустые, личные вещи не трогаем (либо по согласованию с клиентом)
          %br/
          \- Протрем светильники
          %br/
          \- Уберем отсеки для мусорных корзин
        %p
          \- Помоем полы
          %br/
          \- Выкенем мусор и заменим пакеты в корзинах
        %h3 Дополнительно - Эко уборка:
        %p.eco Используем только экологически безопасные чистящие средства &nbsp;
    %li.remont
      %h2 Уборка после ремонта
      #content__calculate__calculate__1__col3.adminTextEl
        %p
          %strong> Комнаты и коридор:
          \- Произведем обеспыливание стен, полов, потолка, мебели и фурнитуры после ремонта
          %br/
          \- Помоем полы специальным раствором после ремонта
          %br/
          \- Удалим мелкие следы ремонта в виде капель краски, строительного скотча и штукатурки
          %br/
          \- Пропылесосим полы и плинтуса
          %br/
          \- Пропылесосим мебель
          %br/
          \- Пропылесосим стены от пыли
          %br/
          \- Помоем полы во всех доступных места
          %br/
          \- Помоем плинтуса
          %br/
          \- Отодвинем легкую мебель и убирем за ней (легкая мебель, - стулья и столы, весом не более 10 кг)
          %br/
          \- Протрем от грязи и пыли всю мебель
          %br/
          \- Помоем и протрем светильники (кроме люстр)
          %br/
          \- Отмоем подоконники
          %br/
          \- Отмоем радиаторы и трубы отопления
          %br/
          \- Протрем дверные проемы и фурнитуру
          %br/
          \- Помоем и протрем межкомнатные двери
          %br/
          \- Помоем зеркала и стеклянные поверхности
          %br/
          \- Протрем столы, стулья, фурнитуру кресел и мебели
          %br/
          \- Удалим пыль с предметов интерьера (вазы, рамы картин и пр.)
          %br/
          \- Протрем поверхности внутри шкафов и дугой мебели (если они пустые, личные вещи не трогаем)
          %br/
          \- Протрем всю аудио-видео технику от пыли
          %br/
          \- Уберем мусор с пола
          %br/
          \- Протрем пустые полки
          %br/
          \- Заправим кровать в спальне
          %br/
          \- Разложим разбросанные вещи
          %br/
          \- В коридоре расставим обувь
          %br/
          = succeed "-" do
            %strong Ванная комната:
          Произведем обеспыливание стен, полов, потолка, мебели и фурнитуры после ремонта
          %br/
          \- Помоем полы специальным раствором после ремонта
          %br/
          \- Удалим мелкие следы ремонта в виде капель краски, строительного скотча и штукатурки
          %br/
          \- Почистим и продезинфицируем сантехнику,
          %br/
          \- Помоем ванную или душевую кабину, унитаз, раковину
          %br/
          \- Почистим фурнитуру и краны
          %br/
          \- Помоем и продезинфицируем пол
          %br/
          \- Отмоем зеркала до блеска
          %br/
          \- Протрем светильники
          %br/
          \- Помоем плитку и стены от пола до потолка
          %br/
          \- Отмоем внутренние поверхности шкафчиков и полочек
          %br/
          \- Удалим налет и водный камень с сантехники
          %br/
          \- Аккуратно расставим тюбики, по вашем желанию
          %br/
          = succeed "-" do
            %strong Кухня:
          Произведем обеспыливание стен, полов, потолка, мебели и фурнитуры после ремонта
          %br/
          \- Помоем полы специальным раствором после ремонта
          %br/
          \- Удалим мелкие следы ремонта в виде капель краски, строительного скотча и штукатурки
          %br/
          \- Помоем грязную посуды в раковине
          %br/
          \- Помоем и обезжиривим кухонную плиту снаружи
          %br/
          \- Помоем холодильник и духовой шкаф снаружи
          %br/
          \- Помоем и протрем стены от пола до потолка
          %br/
          \- Аккуратно разложим вещи в шкафчики (по согласованию с клиентом)
          %br/
          \- Протрем столешницы
          %br/
          \- Протрем от пыли всю кухонную технику
          %br/
          \- Удалим жировые отложения со стен кухонного гарнитура
          %br/
          \- Удалим жир с плитки вокруг жаровых панелей и плиты
          %br/
          \- Протрем все зеркальные и стеклянные поверхности
          %br/
          \- Уберем пыль и грязь внутри шкафов, при условии что они пустые, личные вещи не трогаем (либо по согласованию с клиентом)
          %br/
          \- Протрем светильники
          %br/
          \- Помоем отсеки для мусорных корзин
          %br/
          \- Выбросим мусор и заменим пакеты в корзинах
        %h3 Дополнительно - Эко уборка:
        %p.eco Используем только экологически безопасные чистящие средства &nbsp;
        / %span 
        /   %b.eco+ 40% к стоимости заказа
  .info
    #content__calculate__calculate__1__info.adminTextEl
      %p Внимание! Если квартира сильно загрязнена и у Вас имеются крупные домашние животные, просьба сообщать заранее, так как сильно загрязненные помещения нуждаются в особых средствах уборки и дополнительном оборудовании. Если Ваша квартира сильно загрязнена, то она приравнивается к уборке после ремонта. Если имеются дополнительные вопросы, то можете уточнить у наших менеджеров.